.App {
  font-family: sans-serif;
  text-align: center;
}
.header {
  background-color: darkblue;
}
.main {
  background-color: white;
  min-height: 250px;
}
.footer {
  background-color: darkblue;
  min-height: 50px;
}
.footer .footer-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.footer-body .body1 {
  display: flex;
  justify-content: space-between;
  column-gap: 125px;
  color: white;
  text-align: start;
}
hr {
  width: 1046px;
  border-top: 0px;
  border: 1px solid lightblue;
}
.body-column {
  margin-top: 15px;
}
.body-column p {
  font-size: small;
}
.footer .store-app {
  display: flex;
  width: 116px;
  padding: 10px;
  column-gap: 5px;
  border-radius: 6px;
  height: 49px;
  margin: 5px 0px;
  background-color: white;
  color: gray;
}
.store-app p {
  padding: 0px;
}
.images {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 5px;
  column-gap: 75px;
}
.consult-doctor,
.order-medicine,
.diagno {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  column-gap: 10px;
  margin: 12px 0px;
}
.consult-doctor #doc-img,
.order-medicine #order-img,
.diagno #diagno-img {
  width: 70px;
  border-radius: 10px;
}

.social-media-icons {
  width: 10vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  column-gap: 10px;
  color: white;
}
.images h3 {
  font-size: 20px;
  color: white;
}
.login {
  background-color: white;
  display: flex;
  column-gap: 576px;
  justify-content: space-evenly;
  align-content: center;
  align-content: center;
}
.login .logo {
  text-align: center;
  align-items: center;
  justify-content: space-around;
  display: flex;
}
.login h2 {
  color: darkblue;

  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login .login-signup {
  margin-left: 100px;
  margin: 30px 0px;
  align-self: center;
  align-items: center;
  width: 15vw;
  display: flex;
  justify-content: space-between;
}
.login .login-signup button {
  border: 1px solid blue;
  color: blue;
}
.main .main-search {
  display: flex;
  height: 50px;
  column-gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background-color: RGB(193 197 200);
}
.main .search {
  margin: 45px 0px;
  height: 28px;
  background-color: RGB(193 197 200);
}
.main .main-search .search input {
  width: 500px;
}
.main .main-body {
  margin: 0px 155px;
}
.corusel {
  margin-top: 20px;
}
.caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  color: black;
  text-transform: uppercase;
  border: 1px solid red;
  width: 300px;
  height: 300px;
  left: 200px;
}
.caption-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  align-content: center;
  border: 1px solid green;
  width: 100%;
  height: 150px;
}
.caption-circle .circle1 {
  width: 70%;
  height: 30%;
  border-radius: 25px;
  background-color: orange;
}
.caption-circle .circle2 {
  width: 90%;
  height: 70%;
  box-shadow: 0px 8px 0px 1px orange;
  border-radius: 33px;
  background-color: darkblue;
}
.carousel-item img {
  width: 100%;
  height: 50vh;
  margin: 20px 0px;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: gray;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 100px 0px;
}
.carousel-control-prev {
  margin-left: -25px;
}
.carousel-control-next {
  margin-right: -25px;
}
.test-bar {
  display: flex;
  width: 100%;
}
.test-bar .title {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.test-modal {
  display: flex;
  max-width: 150vw;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 10px;
  padding: 10px 0px;
  column-gap: 20px;
}
.test-modal .test {
  max-width: 230px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 0.5px solid lightskyblue;
  text-align: center;
}
.test .test-body {
  height: 120px;
}
.test-logo {
  display: flex;
  justify-content: flex-start;
}
.test-body .test-logo img {
  width: 50px;
  align-self: flex-start;
}
.test-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.test-title h6 {
  text-align: start;
}
.test .test-body .description {
  font-size: small;
  text-align: start;
  color: lightgray;
  padding: 5px;
}
.test .test-modal-footer {
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.test-modal-footer .price {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.test-modal-footer .price p {
  align-self: flex-start;
  justify-content: flex-start;
  height: 17px;
  font-size: medium;
}
.price .price-values {
  display: flex;
  column-gap: 10px;
  margin-top: -13px;
}
.price .price-values p {
  font-size: 12px;
}
.test-bar .title button {
  border: none;
  background-color: inherit;
}
.add-to-cart .btn,
.btn-primary {
  border: 2px solid RGB(124 212 247);
  background-color: white !important;
  color: RGB(124 212 247);
}
